

@media (max-width: 460px) {
    .sprite {
        width: 150px;
    }
    .title h1 {
        line-height: 1;
    }

    .svg-inline--fa.fa-tree {
        font-size: 3rem;
        margin: 0 10px 0 10px;
    }

    .intro{
        h1 {
            font-size: 4rem;
        }
        p {
            margin: 30px 0 30px 0;
            font-size: 2rem;
        }
    }
    
    .start_game, .form_submit, .end_game {
        font-size: 1.8rem;
        padding: 10px 40px 10px 40px;
        border-radius: 15px;
    }

    form {
        p {
            font-size: 1.8rem;
        }
        .wrapper_radio {
            label {
                height: 100px;
                font-size:1.5rem;
                line-height: 1;
            }
        }
    }

    .wrapper_results {
        li {
            line-height: 1.1;
            font-size: 1rem;
        }
        p {
            line-height: 1.1;
            font-size: 1rem;
        }
        h1 {
            font-size: 2.5rem;
        }
        .treeple_adult {
            .spruce {
            width: 50vw;
            }
        }
    }
    form {
       p {
           font-size: 1.8rem;
       }
       .wrapper_radio {
           label {
               font-size:1.5rem;
               line-height: 1;
           }
       }
    }
}

@media (max-width: 700px) {
        footer {
            .Robyn, .Laurel {
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                justify-content: center;
                    .svg-inline--fa, img {
                        margin: 5px;
                    }
            }
    }
    form {
       .wrapper_radio {
           label {
               height: 150px;
           }
       }
    }
    .wrapper {
        min-height: 80vh;
    }
}

@media (max-width: 1060px) {
    .sprite {
        margin-top: 70px;
            p {
                position: absolute;
                top: -75px;
                left: 0;
                z-index: 100;
                font-size: 1.5rem;
                text-align: center;
                width: 200px;
                &:before {
                    content: "|";
                    position: absolute;
                    top: 35px;
                    left: 50%;
                    z-index: 100;
                }
            }
    }
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
            .Robyn, .Laurel {
                padding: 0;
            }
    }
}
