article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

body {
  font-family: 'Amatic SC', sans-serif;
  font-size: 62.5%;
  padding: 20px;
  background: url("../assets/concrete-texture.png"); }

.hidden {
  display: none; }

.hidden_important {
  display: none; }

.svg-inline--fa.fa-tree {
  color: #7C7BB2;
  margin: 15px 20px 0 20px;
  font-size: 4rem; }

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .title h1 {
    font-size: 6rem;
    margin: 0; }

.intro p {
  font-size: 3rem;
  margin-bottom: 0;
  margin: 50px 0 50px 0; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 90vh; }
  .wrapper p {
    max-width: 900px; }

.start_game {
  background-image: url("../assets/TamaSeed_SeedNeutral1.png");
  background-position: 45% 20%;
  border-radius: 20px;
  margin-bottom: 50px;
  border: none;
  -webkit-box-shadow: 10px 10px 0px 0 #7C7BB2;
  box-shadow: 10px 10px 0px 0 #7C7BB2;
  font-size: 2.5rem;
  padding: 15px 50px 15px 50px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  outline: none; }
  .start_game:hover {
    color: #7C7BB2;
    text-shadow: 2px 2px 0 #000000; }
  .start_game:active {
    -webkit-transform: translate(5px, 5px);
    -ms-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
    -webkit-box-shadow: 5px 5px 0px 0 #7C7BB2;
    box-shadow: 5px 5px 0px 0 #7C7BB2; }

.sprite {
  width: 230px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  max-width: 250px;
  margin: 0 auto; }
  .sprite img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    position: relative;
    z-index: 50; }
  .sprite p {
    position: absolute;
    top: 30px;
    left: 100%;
    z-index: 100;
    font-size: 2rem;
    width: 350px;
    text-align: left; }
  .sprite p:before {
    content: "/";
    position: absolute;
    top: 50px;
    left: -15px;
    z-index: 100; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 3rem; }
  form p {
    margin: 0;
    font-size: 2.5rem; }
  form .wrapper_radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100vw;
    max-width: 1000px; }
    form .wrapper_radio label {
      background-image: url("../assets/TamaSeed_Bucket.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      text-align: center;
      width: 33.33%;
      height: 150px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      margin: 30px 0 40px 0;
      font-size: 2.5rem;
      border-radius: 50%;
      padding: 0 10px 0 10px; }
      form .wrapper_radio label:hover {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3); }
    form .wrapper_radio input[type=radio] {
      position: absolute;
      z-index: -1;
      opacity: 0; }
      form .wrapper_radio input[type=radio]:checked + label {
        color: #E5C345;
        text-shadow: 2px 2px 0px #000000; }

.form_submit, .mid_end_game {
  background-image: url("../assets/TamaSeed_SeedNeutral1.png");
  background-position: 42% 30%;
  padding: 15px 50px 15px 50px;
  border-radius: 20px;
  border: none;
  -webkit-box-shadow: 10px 10px 0px 0 #C77EB4;
  box-shadow: 10px 10px 0px 0 #C77EB4;
  font-size: 2rem;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  margin-bottom: 50px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  outline: none; }
  .form_submit:hover, .mid_end_game:hover {
    color: #C77EB4;
    text-shadow: 2px 2px 0 #000000; }
  .form_submit:active, .mid_end_game:active {
    -webkit-transform: translate(5px, 5px);
    -ms-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
    -webkit-box-shadow: 5px 5px 0px 0 #C77EB4;
    box-shadow: 5px 5px 0px 0 #C77EB4; }

.svg-inline--fa {
  color: #C77EB4;
  margin: 0 20px 0 0; }

.end_game {
  background-image: url("../assets/TamaSeed_SeedNeutral1.png");
  background-position: 45% 20%;
  padding: 15px 50px 15px 50px;
  border-radius: 20px;
  border: none;
  -webkit-box-shadow: 10px 10px 0px 0 #7C7BB2;
  box-shadow: 10px 10px 0px 0 #7C7BB2;
  font-size: 2.5rem;
  margin: 0 0 50px 0;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  outline: none; }
  .end_game:hover {
    color: #7C7BB2;
    text-shadow: 2px 2px 0 #000000; }
  .end_game:active {
    -webkit-transform: translate(5px, 5px);
    -ms-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
    -webkit-box-shadow: 5px 5px 0px 0 #7C7BB2;
    box-shadow: 5px 5px 0px 0 #7C7BB2; }

.wrapper_results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px; }
  .wrapper_results .treeple_adult {
    margin: 0 auto;
    max-width: 700px;
    height: 450px; }
    .wrapper_results .treeple_adult img {
      -o-object-fit: contain;
      object-fit: contain;
      max-width: 100%;
      height: 100%; }
  .wrapper_results h1 {
    font-size: 2.5rem;
    margin: 0; }
  .wrapper_results ul {
    margin: 20px 0 0 0;
    padding: 0; }
  .wrapper_results li {
    font-family: 'Annie Use Your Telescope', sans-serif;
    font-size: 1.5rem;
    text-align: left;
    margin-left: 20px; }
  .wrapper_results p {
    font-family: 'Annie Use Your Telescope', sans-serif;
    font-size: 1.5rem;
    margin: 30px 0 30px 0;
    text-align: left; }

@media (max-width: 460px) {
  .title h1 {
    line-height: 1; }
  .svg-inline--fa.fa-tree {
    font-size: 3rem;
    margin: 0 10px 0 10px; }
  .intro h1 {
    font-size: 4rem; }
  .intro p {
    margin: 30px 0 30px 0;
    font-size: 2rem; }
  .start_game, .form_submit, .end_game {
    font-size: 1.8rem;
    padding: 10px 40px 10px 40px;
    border-radius: 15px; }
  form p {
    font-size: 1.8rem; }
  form .wrapper_radio label {
    height: 100px;
    font-size: 1.5rem;
    line-height: 1; }
  .wrapper_results li {
    line-height: 1.1;
    font-size: 1rem; }
  .wrapper_results p {
    line-height: 1.1;
    font-size: 1rem; }
  .wrapper_results h1 {
    font-size: 2.5rem; }
  .wrapper_results .treeple_adult .spruce {
    width: 50vw; } }

@media (max-width: 700px) {
  form .wrapper_radio label {
    margin: 20px 0 25px 0; } }

@media (max-width: 1060px) {
  .sprite {
    margin-top: 80px; }
    .sprite p {
      position: absolute;
      top: -75px;
      left: 0;
      z-index: 100;
      font-size: 1.8rem;
      text-align: center;
      width: 200px; }
      .sprite p:before {
        content: "|";
        position: absolute;
        top: 35px;
        left: 50%;
        z-index: 100; } }
